<h3>Peek a tweet!</h3>
<% unless @tweet.nil? %>
  <p>You said:</p>
  <blockquote><%= @tweet.content %></blockquote>
  <p><%= time_ago_in_words(@tweet.tweeted_on) %> ago.</p>
  <p class="debug">id: <%= @tweet.twitter_id %>
<% end %>

