<li>
  <%= raw BlueCloth::new(tweet.content).to_html %>
  <p>
    <span class="date">on <%= tweet.tweeted_on.to_date.to_formatted_s(:long_ordinal) %></span>
    <%= link_to "more...", { controller: "tweets", action: "show", id: tweet.twitter_id } %>
  </p>
</li>
