<section id="tweets">
  <h3>Your Timeline</h3>
  <% if @tweets.any? %>
    <h4>Tweets <span><%= @tweets.count %></span><%= link_to "Get Latest", update_path %></h4>
    <ul id="tweets">
      <%= render @tweets %>
    </ul>
    <%= will_paginate @tweets %>
  <% end %>
</section>
