<section id="tweet">
  <h3>Peek a tweet!</h3>
  <% unless @tweet.nil? %>
    <blockquote>
      <%= raw BlueCloth::new(@tweet.content).to_html %>
      <footer><cite>You</cite>, <%= time_ago_in_words(@tweet.tweeted_on) %> ago</footer>
    </blockquote>
  <% end %>
</section>

