/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body, html { height: 100%; }
body {
  padding-top: 70px; /* adjust for navbar-fixed-top */

    > div {
      @extend .container;

      min-height: 100%;
      height: auto;
      margin: 0 auto -60px;
      padding: 0 0 60px;
    }
}

header {
  nav {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;
    color: white;

    > div { @extend .container; }

    p {
      @extend .navbar-text;
      @extend .navbar-left;
    }

    ul {
      @extend .nav;
      @extend .navbar-nav;
      @extend .navbar-right;
    }
  }
}

#landing {
  @extend .jumbotron;

  .action-button {
    text-align: center;

    a {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
    }
  }
}

#tweets {
  h4 {
    span {
      @extend .badge;
      vertical-align: top;
    }

    a {
      @extend .btn;
      @extend .btn-success;
      @extend .pull-right;
      margin-top: -7px; /* counteract button padding for now */
    }
  }

  ul {
    list-style: none;

    li {
      border-left: 3px solid $gray-lighter;
      padding-left: 4px;
    }

    .date {
      @extend .text-muted;
      font-style: oblique;
    }
  }

  .pagination {
    @extend .center-block;
    text-align: center;
  }

}

#tweet blockquote footer {
  font-style: oblique;
}

#peep {
  form {
    section {
      @extend .form-group;
    }

    textarea {
      @extend .form-control;
    }

    input[type="submit"] {
      @extend .btn;
      @extend .btn-success;
      @extend .pull-right;
    }
  }
}

section > h3 {
  @extend .page-header;
}

body > footer {
  @extend .container;
  height: 60px;

  p {
    @extend .text-muted;

    margin: 20px 0;
    text-align: center;
  }
}

#flash_notice, #flash_alert {
  @extend .alert;
}
#flash_notice { @extend .alert-success; }
#flash_alert { @extend .alert-danger; }
